footer {
    display: flex;
    padding-block: 24px;
    gap: 24px;
    font: 14px/150% var(--font-family);    
}
footer div {
    display: flex;
    gap: 24px;
}
footer span:nth-child(1) {
    margin-right: auto;
}
@media (min-width: 360px) and (max-width: 768px) {
    footer {                   
        flex-direction: column;
        align-items: center;
        & span:nth-child(1) {
            margin: 0;
        }
    }
}
